body {
    background: url("/assets/bg.png") scroll no-repeat;
    font-family: "Jersey 15";
    color: white;
    margin: 2rem;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

html {
  scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: white;
    text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

nav a:hover {
  transform: translateY(-3px);
  text-shadow: 0 0 8px yellow;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

#information h2 {
    margin-bottom: 0;
}

.two-column {
    display: grid;
    grid-template-columns: 50% 50%;
}

.yellow {
    color: #FFC000;
}

#header {
    display: grid;
    place-content: center center;
    text-align: right;
    align-items: center;
    grid-template-columns: 40% 60%;
    margin-top: 6rem;
}

#header h1 {
    font-size: 10rem;
    letter-spacing: 2px;
}

#cat {
    max-width: 300px;
    justify-self: center;
}

.overview {
    display: flex;
    flex-direction: column;
}

.overview h1 {
    margin: 4rem 0 0 0;
}

.overview h2 {
    margin: 3rem 0 0 0;
}

.overview p {
    padding-left: 7rem;
}

.overview button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: auto;
    margin-top: 4rem;
}

.overview button img {
    height: 40px;
    display: block;
    justify-self: center;
}

@keyframes glow {
    0%   { filter: drop-shadow(0 0 5px yellow); }
    50%  { filter: drop-shadow(0 0 15px yellow); }
    100% { filter: drop-shadow(0 0 5px yellow); }
}

.overview button img:hover {
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: translateY(-5px);
    filter: drop-shadow(0 0 15px rgba(255, 255, 0, 0.8));
}

#games {
    margin-top: 10rem;
}

#games h2 {
    font-size: 7rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}

.dark-blue {
    color: #0b1358;
}

footer {
    margin-top: 15rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button img:hover {
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: translateY(-5px);
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.8));
}

#reset img,
#submit-guess img{
    max-height: 50px;
}